/* Estilo para o cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  header h1 {
    margin: 0;
  }
  
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  header nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  header nav li:last-child {
    margin-right: 0;
  }
  
  header nav a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Estilo para o corpo */
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  main h2 {
    margin-top: 0;
  }
  
  main ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  main li {
    display: inline-block;
    width: 30%;
    margin-right: 2%;
    text-align: center;
    vertical-align: top;
  }
  
  main li:last-child {
    margin-right: 0;
  }
  
  main li h3 {
    margin-top: 0;
  }
  
  main li img {
    max-width: 100%;
    height: auto;
  }
  
  main li p {
    margin-top: 10px;
  }
  
  main li button {
    display: block;
    margin: 10px auto 0;
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }
  
  /* Estilo para o rodapé */
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  